table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
.header{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.toolbar{
  width: 100%;
}